<div class="container">
  <h1>Write a review:</h1>

  <%= form_for [@review] do |f|  %>

  <%= f.label :username %>
  <%=  f.text_field :username %>

  <%= f.label :rating %>
  <%=  f.text_field :rating %>

  <%= f.label :review %>
  <%=  f.text_field :review %>

  <%= f.submit %>
  <% end %>

</div>
